.filmpage-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #a05c5cb7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  color: #fafafa;
}

.filmpage {
  z-index: 1;
  margin: 10px;
  background-color: #323232;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  height: 350px;
  max-width: 800px;
}

.title {
  text-align: center;
  font-size: 130%;
}

.film-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 25px;
  height: 90%;
}

.poster {
  height: 350px;
}

.poster img {
  max-height: 100%;
  border-radius: 25px 0 0 25px;
}

.description {
  overflow-y: auto;
  margin: 10px 0;
}

.extra-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.close-but {
  position: fixed;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: 0.2s;
}
.close-but:hover {
  background-color: rgb(204, 204, 204, 0.5);
}

.close-but svg {
  fill: #d3d3d3;
}

.fullpage-btn{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  cursor: default;
}

@media screen and (max-width: 550px) {
  .filmpage {
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
  }

  .poster {
    margin-top: 20px;
    height: 250px;
  }

  .poster img {
    max-height: 100%;
    border-radius: 25px;
  }
}
